@page
@model Dev.DCM.Web.Pages.IndexModel
@using Dev.DCM.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Mvc.Localization
@using Dev.DCM.Localization
@using Volo.Abp.Users
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DCMResource> L
@inject ICurrentUser CurrentUser
@{
    ViewBag.PageTitle = L["Home"];
    PageLayout.Content.MenuItemName = DCMMenus.Home;
}

@section styles {
    <abp-style src="/Pages/Index.css" />
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@L["Welcome"]</h1>
            <p>@L["WelcomeToDCM"]</p>
        </div>
    </div>
</div>
